# Ejercicio - Busqueda de Alojamiento en Airbnb.

Supongamos que somos un agente de [Airbnb](http://www.airbnb.com) localizado en Lisboa, y tenemos que atender peticiones de varios clientes. Tenemos un archivo llamado `airbnb.csv` (en la carpeta data) donde tenemos información de todos los alojamientos de Airbnb en Lisboa.

In [14]:
# instalacion de libreria
%pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
# se emplea el alias de 'pd' como convención
import pandas as pd

# versión pandas
pd.__version__

'2.2.1'

In [13]:
import pandas as pd
df_airbnb = pd.read_csv("./data/airbnb.csv")

In [2]:
df_airbnb.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [3]:
df_airbnb.dtypes

room_id                   int64
host_id                   int64
room_type                object
neighborhood             object
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                   float64
dtype: object

En concreto el dataset tiene las siguientes variables:
- room_id: el identificador de la propiedad
- host_id: el identificador del dueño de la propiedad
- room_type: tipo de propiedad (vivienda completa/(habitacion para compartir/habitación privada)
- neighborhood: el barrio de Lisboa
- reviews: El numero de opiniones
- overall_satisfaction: Puntuacion media del apartamento
- accommodates: El numero de personas que se pueden alojar en la propiedad
- bedrooms: El número de habitaciones
- price: El precio (en euros) por noche

## Usando Pandas

### Caso 1.

Alicia va a ir a Lisboa durante una semana con su marido y sus 2 hijos. Están buscando un apartamento con habitaciones separadas para los padres y los hijos. No les importa donde alojarse o el precio, simplemente quieren tener una experiencia agradable. Esto significa que solo aceptan lugares con más de 10 críticas con una puntuación mayor de 4. Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuación. Para aquellas habitaciones que tienen la misma puntuación, debemos mostrar antes aquellas con más críticas. Debemos darle 3 alternativas.

In [6]:
import pandas as pd

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv("./data/airbnb.csv")

# Filtrar apartamentos 
condition = ((df['reviews'] >10) & (df['overall_satisfaction'] >4))
condition_2 = ((df['accommodates']==4) & (df['bedrooms']==3))

df_filter = df[condition]
df_filter = df[condition_2]

# Ordenar por puntuación de mejor a peor
filtered_df = df_filter.sort_values(by=['overall_satisfaction', 'reviews'], ascending=[False, False])

# Mostrar solo las 3 primeras alternativas
top_3 = filtered_df.head(3)

print(top_3)

      room_id   host_id        room_type       neighborhood  reviews  \
1865  2777355  14204351  Entire home/apt            Estrela       89
4100  6408578  33201646  Entire home/apt       Misericórdia       86
1153  1374173   2635324  Entire home/apt  Santa Maria Maior       56

      overall_satisfaction  accommodates  bedrooms  price
1865                   5.0             4       3.0   58.0
4100                   5.0             4       3.0   75.0
1153                   5.0             4       3.0   93.0

### Caso 2

Roberto es un casero que tiene una casa en Airbnb. De vez en cuando nos llama preguntando sobre cuales son las críticas de su alojamiento. Hoy está particularmente enfadado, ya que su hermana Clara ha puesto una casa en Airbnb y Roberto quiere asegurarse de que su casa tiene más críticas que las de Clara. Tenemos que crear un dataframe con las propiedades de ambos. Las id de las casas de Roberto y Clara son 97503 y 90387  respectivamente. Finalmente guardamos este dataframe como excel llamado "roberto.xls

In [12]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 5.5 MB/s eta 0:00:00:00:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv("./data/airbnb.csv")

# IDs de las casas de Roberto y Clara
roberto_id = 97503
clara_id = 90387

# Filtrar las propiedades de Roberto y Clara
roberto_df = df[df['room_id'] == roberto_id]
clara_df = df[df['room_id'] == clara_id]

# Concatenar los DataFrames de Roberto y Clara
roberto_clara_df = pd.concat([roberto_df, clara_df])

# Guardar el DataFrame como un archivo Excel
roberto_clara_df.to_excel("roberto.xlsx", index=False)


### Caso 3

Diana va a Lisboa a pasar 3 noches y quiere conocer a gente nueva. Tiene un presupuesto de 50€ para su alojamiento. Debemos buscarle las 10 propiedades más baratas, dandole preferencia a aquellas que sean habitaciones compartidas *(room_type == Shared room)*, y para aquellas viviendas compartidas debemos elegir aquellas con mejor puntuación.

In [9]:
import pandas as pd

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv("./data/airbnb.csv")

# Ordenar por puntuación de mejor a peor
filtered_df = df[(df['room_type'] == 'Shared room') & (df['price'] < 50)].sort_values(by='overall_satisfaction', ascending=False)

# Mostrar solo las 10 primeras alternativas
top_10 = filtered_df.head(10)

print(top_10)

        room_id   host_id    room_type    neighborhood  reviews  \
6459   11427995  32344156  Shared room    Misericórdia       21
6527   11523225  58899339  Shared room  Avenidas Novas        4
6056   10397682  32344156  Shared room    Misericórdia       15
5964   10172929  52218341  Shared room         Areeiro       17
11058  17497074  25913998  Shared room         Arroios        7
8918   14719962  40574313  Shared room  Avenidas Novas        4
7932   13570032  78249982  Shared room    Misericórdia        8
9964   16150682  58899339  Shared room  Avenidas Novas        4
7313   12826411   6981742  Shared room        Alvalade       12
7552   13078189  72524317  Shared room           Ajuda        7

       overall_satisfaction  accommodates  bedrooms  price
6459                    5.0             8       1.0   18.0
6527                    5.0             9       1.0   23.0
6056                    5.0             8       1.0   13.0
5964                    5.0             1       1.0   20.0
11058                   5.0             1       1.0   18.0
8918                    5.0             4       1.0   13.0
7932                    5.0            10       1.0   48.0
9964                    5.0             9       1.0   16.0
7313                    5.0             1       1.0   22.0
7552                    5.0             2       1.0   21.0